<header class="d-flex justify-content-between align-items-center">
  <h1><span class="badge bg-secondary">Kids</span></h1>
<a href="/task/new" class="btn btn-primary">Add Child/Task</a>  
</header>
 <h1>Kids</h1>
  <a href="/task" class="btn btn-primary">New Task</a>
</header>
<ul class="list-group">
  {{#each kids}}
  <li class="list-group-item d-flex justify-content-between">
    <div>{{this.name}}</div>
    <a href="/task/{{this.id}}" class="btn btn-info">View</a>
  
      
  </li>
  {{/each}}
</ul>




