<h2>Update Child:</h2>

<form action="/task/{{kids._id}}?_method=put" method="POST" enctype="multipart/form-data">
  <div>
 
  <label for="Select Image">Select Image</label>
  <input type="file" class="form-control" name="img" accept="image/*">
  <input type="submit" class=" btn btn-outline-primary">
  <a href="/task" class="btn btn-outline-secondary">Go Back</a>
 
</div>
</form>